@import "../../../../styles/index.scss";

.formTwoInput {
  @include input();
  border: 1.5px solid var(--text-primary-active);
  height: 40px;
  border-radius: 10px;
  padding: 0 10px;
  color: var(--text-primary);

  &:focus {
    background-color: var(--bg-secondary-clr);
    color: var(--text-secondary);
  }
}

.dividerTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .line {
    width: 42%;
    height: 10px;
    border-bottom: 3px dotted var(--text-primary-active);
  }

  span {
    color: var(--text-primary-active);
    text-transform: uppercase;
  }
}

.links {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;

  .row1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
      width: 48%;
    }
  }

  .row2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

    input {
      width: 32%;
    }
  }
}
