@import "../../styles/index.scss";

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .auth {
    width: 1100px;
    min-height: 600px;
    border-radius: 20px;
    background-color: var(--clr-primary);
    display: flex;
    border: 4px solid var(--clr-primary);
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.295);

    .col1 {
      width: 300px;
      position: relative;

      .info {
        width: 100%;
        text-align: center;
        padding: 20px 0;

        h1 {
          font-size: 34px;
          color: aliceblue;
          text-shadow: 1px 1px 2px black;
        }

        p {
          margin-top: 10px;
          font-size: 24px;
          color: aliceblue;
        }
      }

      .image {
        width: 450px;
        height: 450px;
        position: absolute;
        left: 0;
        top: 35%;
        z-index: 1;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .col2 {
      flex: 1;
      background: var(--bg-primary);
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .content {
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .or {
          width: 100%;
          margin-top: 40px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .leftLine,
          .rightLine {
            width: calc((500px - 40px) / 2);
            height: 1px;
            background-color: var(--text-primary-active);
          }

          span {
            font-size: large;
            text-transform: uppercase;
            color: var(--text-primary-active);
          }
        }

        form {
          margin-top: 40px;
          width: 100%;
          display: flex;
          flex-direction: column;

          input {
            @include input();
            border: 1.5px solid var(--text-primary);
            height: 40px;
            border-radius: 10px;
            padding: 0 10px;
            color: var(--text-primary);
            &:not(:first-child) {
              margin-top: 10px;
            }

            &:focus {
              background-color: var(--bg-secondary-clr);
              color: var(--text-secondary);
            }
          }

          button {
            @include btn();
            margin-top: 20px;
            background-color: var(--clr-primary);
            height: 40px;
            border-radius: 10px;
            color: aliceblue;
            font-size: large;

            &:hover {
              background-color: var(--clr-primary-hover);
              color: rgb(255, 255, 255);
            }

            &:active {
              background-color: var(--clr-primary-active);
              color: rgba(255, 255, 255, 0.292);
              scale: 0.97;
            }
          }
        }

        .note {
          position: absolute;
          bottom: 0;
          right: 0;
          margin: 20px;

          h4 {
            color: var(--text-primary);

            a {
              margin-left: 5px;
              color: var(--clr-primary);
              transition: all 0.1s ease-in-out;

              &:hover {
                color: var(--clr-primary-hover);
              }
            }
          }
        }
      }
    }
  }
}
