.container {
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 50%;
  background-color: var(--clr-primary);
  overflow: hidden;

  .sunIcon {
    position: absolute;
    font-size: 1.5rem;
    color: rgb(246, 246, 13);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.323);
    cursor: pointer;
  }

  .moonIcon {
    position: absolute;
    font-size: 1.2rem;
    color: rgb(246, 246, 13);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.323);
    cursor: pointer;
  }
}
